<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introduction</title>
</head>
<body>
    <h1>Welcome to my portfolio!!</h1>
    <h3>Hi I am Arpit</h3>
    <ul>
        <li>Sugar</li>
        <li>Green Chilly</li>
        <li>Whiskey</li>
        <li>Vodka</li>
    </ul>
    <nav>
        <a href="./about">About page</a>
        <a href="./">Home page</a>
    </nav>
</body>
</html>